.modal-fw9 {
  min-width: 170px;
  min-height: 57px;
  background-color: #06283d;
}

.modal-fw9:hover {
  background-color: #06283d;
}

.modal-fw9:active {
  background-color: #06283d;
  border: unset;
}

.modal-fw9:focus {
  background-color: #06283d;
  box-shadow: unset;
}
